body {
		background-color:#f6e5e5 ;
		font-style:Arial;	
		margin:0;		
		}
header {
		background-color: #d59bf6 ;
		color: white;
		text-align:center;
		padding:10px;
		}
footer {
		background-color:  #d59bf6;
		font-size: 10px;
		text-align:center;		
		padding:10px;
		}
nav		{margin:30px;
		font-weight: bold;
		line-height:1.0;
		}
section {		
		background-color:#cadefc;
		padding:50px;
		margin:20px auto;		
		}	
section {
		border-width: 2px;
		border-color: #cca8e9 ;
		border-style: solid;
		padding: 30px;	
		margin:20px auto;
		}
h3  	{color:#6643b5;
		font-size: 40px;	
		text-align:center
		}	
h2 		{color:#6643b5;
		font-size: 40px;	
		text-align:center
		}
		
h1		{color:#f6e5e5;
		font-size: 50px;
		}
		
p 		{color:#5e63b6;
		font-size: 18px;
		margin:20px;
		line-height:1.0;
		font-style: italic;
		}
li 		{color:#5e63b6;
		font-size: 15px;
		margin:15px;
		line-height:1.0;		
		}

img 	{width: 300px;
		border-radius: 50PX;
		}
